#doctor-container {
    height: 90vh;
    #upcoming-patients {

    }
    #current-patient {
        margin: 30px;
        margin-left: 50px;
        h2 {
            text-align: center;
        }
    }
}