<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>New Appointment</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="createAppointment()">
            <mat-form-field>
                <input matInput type="text" placeholder="Patient Phone No" name="phoneno" [(ngModel)]="phoneNum" required pattern="[0-9]{10}" #numberCheck="ngModel">
                <div *ngIf="numberCheck.dirty || numberCheck.touched" class="alert alert-danger">
                    <div *ngIf="numberCheck.errors">
                        Enter Valid Number
                    </div>
                </div>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Doctor Name" name="docname" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="" placeholder="Ailment" name="ailment" required>
            </mat-form-field>
        </form>
        <!-- <div *ngIf="showError">
          <p style=" color: red">Invalid email-id password combination</p>
        </div> -->
        <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>
</mat-card>