div {
    margin-top: 0px;
    height: 100%;
    .reception-card {
        margin-top: 5%;
        margin-left: 5%;
        max-width: 400px;
        min-height: 380px;
        padding: 20px;
        .reception-tabs {
            padding: 10px;
            mat-tab {
                margin-bottom: 20px;
            }
        }
        mat-card-title {
            text-align: center;
        }
    }
    img {
        margin-top: 10px;
        margin-left: 15%;
        max-height: 500px;
        max-width: 500px;
        height: auto;
        width: auto;
    }
}