<div fxLayout="row">
    <mat-card class="reception-card mat-elevation-z5">
        <mat-card-title>Reception Login</mat-card-title>
        <mat-tab-group class="reception-tabs" dynamicHeight>
            <mat-tab label="New Appointment">
                <app-appointment-form></app-appointment-form>
            </mat-tab>
            <mat-tab label="Register Patient">
                <app-patient-form></app-patient-form>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <img src='../../assets/caduceus.png'>
</div>