<div class="main" fxLayout="row" fxLayoutAlign="space-evenly">
    <mat-card class="doctor-auth-card mat-elevation-z5">
        <mat-tab-group class="doctor-auth-tabs" dynamicHeight>
            <mat-tab label="Login">
                <app-login-doctor></app-login-doctor>
            </mat-tab>
            <mat-tab label="Sign Up">
                <app-register-doctor></app-register-doctor>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <div class="hero-img">
        <img src="../../assets/gelogo.png">
    </div>
</div>