.main {
    height: 100%;
    .doctor-auth-card {
        margin-top: 5%;
        margin-left: 5%;
        max-width: 400px;
        min-height: 380px;
        padding: 20px;
        .doctor-auth-tabs {
            padding: 10px;
            mat-tab {
                margin-bottom: 20px;
            }
        }
    }
    img {
        margin-top: 35%;
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
    }
}