<mat-card-content>
    <form (ngSubmit)="doctorSignup()" #signupForm="ngForm" class="doctor-form">
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="doctor.name" name="name" required>
        </mat-form-field>
        <mat-icon class="material-icons">person</mat-icon> 
        <br>
        <mat-form-field>
            <input matInput placeholder="Department" [(ngModel)]="doctor.department" name="department" required>
        </mat-form-field>
        <mat-icon class="material-icons">local_hospital</mat-icon> 
        <br>
        <mat-form-field>
            <input matInput type="email" placeholder="Email" [(ngModel)]="doctor.email" name="email" email required pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]+" #emailCheck="ngModel">
            <mat-error *ngIf="(emailCheck.dirty || emailCheck.touched) && emailCheck.errors" class="alert alert-danger">
                Invalid Email
            </mat-error>
        </mat-form-field>
        <mat-icon class="material-icons">email</mat-icon> 
        <br>
        <mat-form-field [@animate]="{ value: '*', params: { x: '50px' } }">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required minlength="6" #passwordCheck="ngModel">
            <mat-error *ngIf="passwordCheck.invalid && (passwordCheck.dirty || passwordCheck.touched) && passwordCheck.errors.minlength" class="alert alert-danger">
                Minimum 6 characters
            </mat-error>
        </mat-form-field>
        <mat-icon class="material-icons">https</mat-icon> 
        
    </form> 
    <!-- <div *ngIf="showError">
      <p style=" color: red">Invalid email-id password combination</p>
    </div> -->
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
 </mat-card-content>
<mat-card-actions>
    <button mat-raised-button (click)="doctorSignup()" color="primary" [disabled]="!signupForm.form.valid">Login</button>
</mat-card-actions>